.container() {
  width: 320px;
  margin: 0;  
  padding: 0;
    
  @media @tablet-widths {
    width: 660px;    
  }

  @media @desktop-widths {
    width: 960px;
  }   
}

.fonts-bold() {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
}

.fonts-light() {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}