.heart
{
    fill: @red;
}

.crop
{
    opacity: 1;

    fill: @red;
    @media @tablet-widths
    {
        fill: @red;
    }
    @media @desktop-widths
    {
        fill: @red;
    }
}

.crop:hover
{
    opacity: .5;
}

.fill
{
    opacity: .3;
    @media @tablet-widths
    {
        opacity: 1;

        fill: @red;
    }
    @media @desktop-widths
    {
        opacity: 1;

        fill: @red;
    }
}

.fill:hover
{
    opacity: .5;
}

.contrast
{
    opacity: .3;
    @media @tablet-widths
    {
        opacity: 1;

        fill: @red;
    }
    @media @desktop-widths
    {
        opacity: 1;

        fill: @red;
    }
}

.contrast:hover
{
    opacity: .5;
}

.contrast-circle
{
    @media @tablet-widths
    {
        fill: @red;
    }
    @media @desktop-widths
    {
        fill: @red;
    }
}

.twitter,
.facebook,
.youtube
{
    opacity: 1;

    fill: @red;
}

.twitter:active,
.facebook:active,
.youtube:active
{
    opacity: .3;
}

.burger
{
    fill: @white;
    @media @tablet-widths
    {
        display: none;
    }
}

.burger:hover
{
    fill: @red;
}

.burger:active
{
    opacity: .3;

    fill: @red;
}

.cross
{
    display: none;

    fill: @white;
    @media @tablet-widths
    {
        display: block;
    }
}

.cross:hover
{
    fill: @red;
}

.cross:active
{
    opacity: .3;

    fill: @red;
}

.bkt-left,
.bkt-right
{
    opacity: .3;

    fill: @dark-gray;
}

.bkt-left:hover,
.bkt-right:hover
{
    opacity: .6;
}

.bkt-left:active,
.bkt-right:active
{
    opacity: .1;
}

.no
{
    fill: @no;
}

.yes-big
{
    fill: @yes;
}
