advantage {
  width: 275px;
  padding-top: 45px;
  padding-left: 24px;
}

.advantage__caption {
  .fonts-light();
  font-size: 24px;
}

.advantage__accent {
  font-size: 18px;
  line-height: 24px;   
}

.advantage__content {
  line-height: 24px;  
}