application {
 background-color: @dark-blue;
 color: @white;
 padding-top: 30px;
}

.application__download {
  padding: 15px 25px;  
  font-size: 18px;
  line-height: 18px;
  .fonts-bold();
  border-radius: 3px solid @white;
}

.application__logotips {
  height: 110px;
  width: 230px;  
}

.application__description {
  .fonts-light();
  line-height: 24px;
}