.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.footer__wrapper {
  .container();  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  margin: 0;
  .fonts-light();
  font-size: 24px;  
}

.footer__tout {
  font-size: 18px;
  .fonts-bold();
  padding-top: 30px;
}

.footer__ref {
  font-size: 24px;
  .fonts-light();
  color: @red;
}
