.header {
  width: 100%;  
  background-color: @dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: @white;
  @media @tablet-widths {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-size: 1200px auto;
  }
  @media @desktop-widths {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: 2560px auto;
  }
}

.header__wrapper {
  .container();
  display: flex;
  flex-direction: column;    
}

.header__top {
  display: flex;
  justify-content: space-between;
  @media @desktop-widths {
    position: relative;    
  } 
}

.header__logo { 
  padding: 22px 20px;      
  @media @tablet-widths {
    padding-top: 27px;
    padding-bottom: 43px;      
    width: 147px;    
  }
  @media @desktop-widths {
    display: flex;
    flex-wrap: wrap;
    padding-top: 27px;   
    padding-bottom: 43px;
    width: 147px;    
  }
}

.header__logo svg {
  transform: translate(-70px, -15px);
  @media @tablet-widths {
    transform: translate(0, -5px);
  }
  @media @desktop-widths {
    transform: translate(0, -5px);
  }
}

.header__logo-radiance {
  display: none;
  @media @desktop-widths {
    display: inline;
  }
}

.header__logo-particle {
  display: none;
  @media @desktop-widths {
    display: inline;
  }
}

.header__logo-glasses--tablet {
  display: none;
  @media @tablet-widths {
    display: inline;
  }
  @media @desktop-widths {
    display: none;
  }
}

.header__logo-glasses--desktop {
  display: none;
  @media @desktop-widths {
    display: inline;
  }
}

.header__logo:hover .header__logo-text,
.header__logo:hover .header__logo-glasses {
  fill: @red;
}

.header__logo:active .header__logo-text,
.header__logo:active .header__logo-glasses {
  opacity: 0.3;  
}

.header-img__mobile {
  @media @tablet-widths {
    display: none;
  }
  @media @desktop-widths {
    display: none;          
  }  
}

.header-img__tablet {
  display: none;
  @media @tablet-widths {
    display: block;
  }
  @media @desktop-widths {
    display: none;          
  }  
}

.header-img__desktop {
  display: none;
  @media @tablet-widths {
    display: none;
  }
  @media @desktop-widths {
    display: block;          
  }    
}

.header__title {     
  text-align: center;
  padding-top: 35px;
  padding-bottom: 53px;
  padding-left: 27px;
  padding-right: 27px;
  @media @tablet-widths {
    padding-top: 83px;
    padding-bottom: 79px;
    padding-left: 77px;
    padding-right: 74px;    
  }
  @media @desktop-widths {
    padding-top: 77px;
    padding-bottom: 100px;
    padding-left: 42px;
    padding-right: 39px;    
  }
}

.header__h1 {
  font-size: 24px;
  .fonts-light();
  @media @tablet-widths {
    font-size: 50px;        
  }
  @media @desktop-widths {
    font-size: 50px;        
  }
}

.header__toggle {
  width: 50px;
  height: 25px;
  margin: 22px 20px;
  font-size: 0px;
  @media @tablet-widths {
    width: 24px;
    height: 23px;
    font-size: 0px;          
  }
  @media @desktop-widths {
    display: none;
  }
}

.header__toggle:hover {
  color: @red;
}

.header__toggle:active {
  opacity: 0.3; 
}

.header__nav-index {
  @media @desktop-widths {
    position: absolute;
    top: 5px;
    left: 320px;
  }  
}

.header__nav {
  @media @desktop-widths {
    position: absolute;
    top: -25px;
    left: 320px;
  }  
}