.main-photos {
  .container();   
}

.main-photos__items {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: flex-start;  
}

.main-photos__title {
  align-self: center;
  margin: 0;
  padding: 50px 37px;
  text-align: center;  
}

.main-photos__epilog {
  margin: 0;  
  padding: 0 32px;
  text-align: center;
}
