.main-photos {
  width: 100%; 
}

.main-photos__items {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: flex-start;
  @media @tablet-widths {
    flex-flow: row wrap;      
  }
  @media @desktop-widths {
    flex-flow: row wrap;
  } 
}

.main-photos__display {  
  width: 100%;
  position: relative;
  margin-top: 3px;
  height: 137px;
  @media @tablet-widths {
    height: 509px;     
  }
  @media @desktop-widths {
    height: 506px;  
  }
}

.main-photos__panorama-day {  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  background-color: @red;  
  font-size: 12px;
  line-height: 24px;
  .fonts-bold();
  color: @white; 
  top: 0px;
  right: 20px;
  @media @tablet-widths {
    top: 57px;
    right: 40px;        
  }
  @media @desktop-widths {
    top: 54px;
    right: 130px;  
  } 
}

.main-photos__panorama-text {  
  padding: 0;
  text-transform: uppercase;
}

.main-photos__about-panorama {  
  display: flex;
  flex-direction: column;
  position: relative;
  height: 192px;
  margin: 0 16px;
  padding: 0 14px;  
  background-color: @light-gray;
  line-height: 24px;
  @media @tablet-widths {
    width: 580px;
    margin: 0 auto;
    height: 121px;
  }
  @media @desktop-widths {
    width: 900px;
    margin: 0 auto;
    height: 98px;
  } 
}

.main-photos__author {
  .fonts-bold();
  font-size: 14px;
  margin-top: 17px;
  margin-left: 7px;  
  @media @tablet-widths {
    margin-top: 23px;
  margin-left: 7px;  
  }
  @media @desktop-widths {
    
  }  
}

.main-photos__comment {  
  height: 95px;
  margin-top: -10px;
  margin-left: 6px;  
}

.main-photos__like-wrapper {  
  display: flex;
  align-items: center;
  margin-top: -3px;
  margin-left: 3px;  
  @media @tablet-widths {
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: absolute;
    top: 27px;
    right: 37px;
  }
  @media @desktop-widths {
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: absolute;
    top: 27px;
    right: 41px;
  }      
}

.main-photos__title {
  align-self: center;
  margin: 0;
  padding: 46px 37px;
  text-align: center;
  @media @tablet-widths {    
    font-size: 18px;
    width: 438px;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 30px;
  }
  @media @desktop-widths {
    width: 575px;
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.main-photos__epilog {
  .container();
  text-align: center;
  margin-top: 40px;
  margin-bottom: 42px;
  @media @tablet-widths {
    margin-top: 95px;
    margin-bottom: 68px;
  }
  @media @desktop-widths {
    margin-top: 60px;
    margin-bottom: 68px;
  }
}

.main-photos__epilogP { 
  padding: 0 32px;
  margin: 0;
  @media @tablet-widths {
    font-size: 18px;    
  }
  @media @desktop-widths {
    font-size: 18px;
  } 
}