.main-form {
  width: 100%;
}

.main-form__full-name {  
  display: flex;
  flex-direction: column;  
}

.main-form__cover-wrapper {  
  display: flex;  
  flex-direction: column;
  outline: 2px solid blue;
  @media @desktop-widths {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;    
  }
}

.main-form__cover-paragraph {
  .container();  
  margin-top: 50px;
  text-align: center;  
  @media @tablet-widths {
    font-size: 18px;
    width: 490px;
    margin: 0 auto;
    margin-top: 80px;
  }
  @media @desktop-widths {
    font-size: 18px;
    width: 760px;
    margin: 0 auto;
    margin-top: 80px;
  }
}

.main-form__cover-user {  
  outline: 1px solid @red;    
  padding-top: 50px;
  padding-bottom: 43px;
  margin: 0 20px;
  @media @desktop-widths {
    margin: 0 10px;
    width: 470px;
  }
}

.main-form__cover-user label {
  color: @red;
}

.main-form__cover-user input { 
  width: 100%;
  @media @tablet-widths {
    margin-left: 20px;
    padding-left: 20px;  
  }  
}

.main-form__user-wrapper {
  .form-cover();
  @media @desktop-widths {
    width: 470px;           
  } 
}

.main-form__item-user {
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
    flex-direction: row;
    padding-bottom: 25px;
  }
  @media @desktop-widths {
    flex-direction: row;
    padding-bottom: 25px;    
  }
}

.main-form__cover-app {
  outline: 1px solid @green; 
  background-color: @light-gray;  
  @media @tablet-widths {
    background-color: @white;    
  }
  @media @desktop-widths {
    background-color: @white;
     width: 470px;
  }    
}

.main-form__app-wrapper {
  .form-cover();
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 43px;
  padding-right: 20px;
  @media @desktop-widths {    
    width: 470px;        
  } 
}

.main-form__cover-title {
  font-size: 14px;
  line-height: 18px; 
  color: @red;
  text-align: center;
}

.main-form__cover-achiev {  
  outline: 1px solid @green;
  background-color: @light-gray;  
  @media @tablet-widths {
    background-color: @white;    
  }
  @media @desktop-widths {
    background-color: @white;
    font-size: 18px;
  }  
}

.main-form__achiev-wrapper {
  .form-cover();
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 43px;
  padding-right: 60px;  
  @media @desktop-widths {   
    width: 832px;       
  }  
}

.main-form__items-achiev {
  display: flex;
  flex-direction: column;
  @media @desktop-widths {    
    flex-direction: row;
    flex-wrap: wrap;    
  }    
}

.main-form__item-achiev {  
  @media @desktop-widths {
    width: 200px;
    margin-right: 20px;
  }    
}

.main-form__cover-contacts {  
  outline: 1px solid @red;    
  padding-top: 50px;
  padding-bottom: 43px;
  margin: 0 20px;
  @media @desktop-widths {
    margin: 0 10px;
  }
}

.main-form__cover-contacts label {
  color: @red;
}

.main-form__cover-contacts input { 
  width: 100%;
  @media @tablet-widths {
    margin-left: 20px;
    padding-left: 20px;  
  }  
}

.main-form__contacts-wrapper {
  .form-cover();
  @media @desktop-widths {
    flex-direction: row;
    justify-content: space-around;    
  }
}

.main-form__item-contacts {
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
    flex-direction: column-reverse;
    padding-bottom: 25px;
  }
  @media @desktop-widths {
    flex-direction: column-reverse;    
    padding-bottom: 25px;   
  }
}

.main-form__item-contacts label {
  @media @tablet-widths {
    margin-left: 40px;  
  }        
}

.main-form__item-contacts input {
  @media @tablet-widths {
    width: 90%;  
  }
  @media @desktop-widths {
    width: 100%;    
  }    
}

.main-form__cover-emotions {  
  outline: 1px solid @red;    
  padding-top: 50px;
  padding-bottom: 43px;
  margin: 0 20px;
  @media @desktop-widths {
    margin: 0 10px;
  }
}

.main-form__cover-emotions label {
  color: @red;
}

.main-form__cover-emotions input { 
  width: 100%;
  @media @tablet-widths {
    margin-left: 20px;
    padding-left: 20px;  
  }  
}

.main-form__emotions-wrapper {
  .form-cover();  
}

.main-form__emotions-top {
  display: flex;
  flex-direction: column;   
}

.main-form__cover-textarea {
  @media @tablet-widths {
    width: 500px;
    margin: 40px auto;
  }
  @media @desktop-widths {
    width: 820px;
    margin: 35px auto;  
  }    
}

.main-form__emotions-btn {
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
    flex-direction: row;
    justify-content: space-between;
  }
  @media @desktop-widths {
    flex-direction: row;
    justify-content: space-between;
  }  
}

.main-form__btn {
  width: 280px;
  height: 63px;
  font-size: 18px;
  .fonts-bold();
  border-radius: 2px;
  padding: 25px 47px;
  margin-top: 48px;
  color: @white;
  background-color: @green; 
}

.main-form__needed {
  padding-top: 45px;
  padding-left: 49px;
}