.modal-window {
  display: none;
}
/*.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  display: none;
  padding-top: 60px;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: @white;
  border-radius: 5px;
  box-shadow: 0 4px 11px 3px rgba(0, 0, 0, 0.1);
  @media @tablet-widths {
    width: 460px;
  }
  @media @desktop-widths {    
    width: 780px;    
  }
}

.modal-window__wrapper {
  width: 280px;
  margin: 0 auto;
  @media @tablet-widths {
    width: 320px;
  }
  @media @desktop-widths {    
    width: 460px;   
  }
}

.modal-window__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: @black;
  .fonts-bold();
  @media @tablet-widths {
    font-size: 30px;
    line-height: 40px;
  }
}*/