.photos-item {  
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
        
  }
  @media @desktop-widths {
     
  } 
}

.photos-item__cadre {
  width: 280px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
  @media @tablet-widths {
    margin-left: 10px;
    width: 300px;
    height: 300px;      
  }
  @media @desktop-widths {
    margin-top: 50px;
    margin-left: 10px;
    width: 300px;
    height: 400px;    
  } 
}

.photos-item__about {  
  margin: 0 20px;  
  background-color: @light-gray;
  line-height: 24px;
  @media @tablet-widths {
    margin: 0 10px;
    width: 300px;
    height: 155px;     
  }
  @media @desktop-widths {
    margin: 0 10px;
    width: 300px;
    height: 155px;    
  } 
}

.photos-item__author {
  .fonts-bold();
  font-size: 14px;
}

.photos-item__comment {
  
}

.photos-item__time {
  font-size: 12px;
  .fonts-light();
}

.photos-item__like {
  font-size: 12px;
  color: @red;
  text-decoration: none;
}