.post {    
  width: 100%;  
  background-color: @light-gray;  
  @media @desktop-widths {    
    background-color: @white;         
  }
}

.post__wrapper {
  .container();  
  display: flex;
  flex-direction: column;
  @media @tablet-widths {    
    flex-direction: row;    
  }
  @media @desktop-widths {    
    flex-direction: row;
    background-color: @light-gray; 
  } 
}

.post__box { 
  display: flex;
  flex-direction: column;
  align-content: center;
  @media @tablet-widths {   
    width: 280px;
  }
  @media @desktop-widths {    
    padding-bottom: 30px;
    width: 410px;
  } 
}

.post__box-top {  
  display: flex;
  flex-direction: column;   
  @media @tablet-widths {    
    flex-direction: row;
    align-items: center;
    margin-top: 39px;
  }
  @media @desktop-widths {    
    flex-direction: row;
    align-items: center;    
  }      
}

.post__display {
  display: flex;
  width: 280px;
  height: 375px;
  margin: auto;
  margin-top: 20px;  
  @media @tablet-widths {    
    width: 300px;
    height: 400px;
    margin-top: 57px;
    margin-bottom: 54px;
    margin-left: 20px;
    margin-right: 38px;
  }
  @media @desktop-widths {    
    width: 300px;
    height: 400px;
    margin-top: 56px;
    margin-left: 90px;
    margin-right: 60px;
  } 
}

.post__photo-tuning {
  cursor: pointer;
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  width: 198px;  
  margin-top: 39px;
  margin-left: 54px;
  @media @tablet-widths {    
    flex-direction: column;
    margin-left: 0;
    margin-top: 15px;
  }
  @media @desktop-widths {    
    flex-direction: column;
    margin-top: 0;
  } 
}

.post__photo-tuning svg {
  @media @tablet-widths {    
    width: 22px;
    height: 22px;
    margin-bottom: 50px;
  }
  @media @desktop-widths {    
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
    margin-right: 14px;
  }   
}

.post__scale-group {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  margin-top: 37px;
  @media @tablet-widths {    
    margin-right: 15px;  
  }
  @media @desktop-widths {    
    margin-right: 0px;  
  }
}

.post__scale {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: @dark-gray;
  margin: auto;
  margin-bottom: 30px;
  @media @tablet-widths {    
    width: 203px;
    margin-bottom: 70px;
  }
  @media @desktop-widths {    
    width: 290px;
  }
}

.post__scale--fill {
  display: none;
  @media @tablet-widths {    
    display: flex;      
  }
  @media @desktop-widths {    
    display: flex;       
  } 
}

.post__scale--contrast {
  display: none;
  @media @tablet-widths {    
    display: flex;      
  }
  @media @desktop-widths {    
    display: flex;       
  } 
}

.post__range {
  position: absolute;
  box-sizing: border-box;
  width: 14px;
  height: 14px; 
  background-color: @light-gray;
  border: 2px solid @red;
  border-radius: 50%;
  top: -6px;
  left: 80%;
  z-index: 1;
  cursor: pointer;
  @media @tablet-widths {
    &--crop {
      left: 72%;
    }
    &--fill {
      left: 12%;
    }
    &--contrast {
      left: 48%;
    }
  }
  @media @desktop-widths {
    &--crop {
      left: 25%;
    }
    &--fill {
      left: 86%;
    }
    &--contrast {
      left: 56%;
    }
  }
}

.post__range:active {
  background-color: @red;  
}

.post__button {  
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 0;
  margin-bottom: 41px;
  margin-top: 43px;
  font-size: 18px;
  line-height: 18px;
  .fonts-bold();
  @media @tablet-widths {    
    margin-top: 31px;        
  }
  @media @desktop-widths {  
    flex-direction: row;
    justify-content: space-between;    
    margin-top: 90px;
    margin-left: 30px;
    width: 410px;
  } 
}

.post__btn-post {
  width: 280px;
  height: 55px;
  margin-bottom: 12px;
  border: 3px solid @red;
  border-radius: 30px;
  background-color: @light-gray;
  color: @red;  
  cursor: pointer;
  @media @tablet-widths {    
    width: 260px;
    margin-bottom: 23px;
  }
  @media @desktop-widths {    
    width: 184px;
    margin-top: 18px;    
  } 
}

.post__btn-post:hover {
  background-color: @red;
  color: @white;
}

.post__btn-post:active {
  background-color: @red;
  color: @white;
  opacity: 0.3;
}

.post__btn-cancel {
  width: 280px;
  height: 55px;
  border: 3px solid @dark-gray;
  border-radius: 30px;
  opacity: 0.1;
  background-color: @light-gray;  
  cursor: pointer;
  @media @tablet-widths {    
    width: 260px;      
  }
  @media @desktop-widths {    
    width: 184px;    
  } 
}

.post__btn-cancel:hover {
  opacity: 0.3;
}

.post__btn-cancel:active {  
  color: @white;
  background-color: @dark-gray;  
  opacity: 0.3;
}