.price {
  width: 100%;  
  padding-bottom: 43px;
  background-image: url(../img/bg-triangle-white.svg);    
  background-repeat: no-repeat;  
  background-size: 100%;
  padding-top: 57px;
  background-color: @light-gray;
  overflow: hidden;
  @media @tablet-widths {   
    padding-bottom: 70px;
    padding-top: 106px;   
  }
  @media @desktop-widths {
    padding-top: 125px;
    padding-bottom: 92px;        
  }
}

.price__wrapper {
  .container();  
  @media @tablet-widths {   
    width: 620px;
  }
  @media @desktop-widths {   
    width: 940px;
  }
}

.price__items {  
  line-height: 1;
  border-collapse: collapse;  
  width: 100%;
  margin-left: -405px;
  @media @tablet-widths {
    margin-left: 0;    
  }  
}

.price__item-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 22px 0;  
  width: 276px;
  text-transform: uppercase;
  box-sizing: border-box;
  @media @tablet-widths {
    width: 143px;
    padding: 14px 0;
    padding-left: 15px;
  }
  @media @desktop-widths {
    width: 196px;    
    padding: 22px 0;
    padding-left: 35px;
  }
}

.price__item {   
  position: relative; 
  border-right: 2px solid @light-gray;
  border-radius: 2px;
}

.price__item:first-child {
  background: @light-gray;
  border: none;
}

.price__item:last-child {
  border-right: none;
}

.price__item:nth-child(3)::before {  
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 74px;
  height: 73px;
  background: url(../img/bg-hit.svg);
  background-repeat: no-repeat;
  @media @tablet-widths {
    left: 0;
  }
  @media @desktop-widths {
    left: 0; 
  }
}

.price__title {  
  background-color: @dark-gray;
  color: @white;
  text-align: center;
  text-transform: uppercase;  
}

.price__name {  
  font-size: 18px;
  .fonts-bold();
  margin-bottom: 7px;
  @media @tablet-widths {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.price__USD {
  font-size: 24px;
  .fonts-light();
  @media @tablet-widths {
    font-size: 18px;  
  }
  @media @desktop-widths {
    font-size: 24px;  
  }
}

.price__td {  
  border: 2px solid @tbl-gray;  
  padding: 16px 23px;
  text-transform: uppercase;
  background-color: @white;
  @media @tablet-widths {
    padding: 9px 15px;
    text-transform: none;
  }
  @media @desktop-widths {
    padding: 16px 22px;
    padding-right: 30px;
    font-size: 18px;    
  }
}

.price__td-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media @tablet-widths {
    justify-content: center;    
  }
  @media @desktop-widths {
    justify-content: center;    
  } 
}

.price__span {
  @media @tablet-widths {
    display: none;
  }
  @media @desktop-widths {
    display: none;    
  }  
}

.price__slider {
  display: flex;
  justify-content: center;
  font-size: 0;
  margin-top: 38px;
  @media @tablet-widths {
    display: none;
  }
  @media @desktop-widths {
    display: none;
  }
}