.price {
  width: 100%;
  margin-top: 130px;
}

.price__wrapper {
  .container();
  display: flex;
  align-items: center;
}

.price__title {  
  background-color: @dark-gray;
  color: @white;
  text-align: center;
}

.price__name {
  font-size: 18px;
  .fonts-bold();
}

.price__USD {
  font-size: 24px;  
}

.price__td {  
  border: 1px solid @tbl-gray;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 23px;
  font-size: 18px;
}
