.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  width: 177px;  
  margin-top: 28px;
  margin-left: -40px;
  margin-bottom: 40px;
  @media @tablet-widths {
    margin: 0;
    margin-right: 60px;    
  }
  @media @desktop-widths {
    margin: 0;
    margin-right: 27px;
    margin-top: 5px;
    
  }
}

.social__icons {  
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 3px solid @light-gray;     
}

.social__icons:hover {
  border: 3px solid @dark-gray;  
}

.social__icons:active {  
  border: 3px solid @light-gray;    
}

.social__icon svg {
  margin-top: 16px;
  margin-left: 3px;
}