.social {
  display: flex; 
  justify-content: space-between;
  align-self: center;
  align-items: center;
  font-size: 0;
  width: 177px;
  height: 51px;
  margin-top: 40px;
  margin-bottom: 40px;  
}

.social__icons {  
  width: 51px;
  height: 51px;
  border: 3px solid @gray;
  border-radius: 30px;  
}

.social__icon {  
  align-items: center;    
}