.slider__toggle {  
  position: relative;
  width: 22px;
  height: 15px;
  margin-left: 3px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none; 
  &::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    bottom: 6px;
    left: 5px;
    border-radius: 50%;
    background-color: @dark-gray;
    opacity: 0.3;
    display: block;
  }
  &--active {
    &::before {
      border: 3px solid @dark-gray;
      /*background: transparent;*/
      bottom: 3px;
      left: 3px;
      background-color: @white;
      opacity: 1;
    }
  }
  &:hover:not(&--active)::before {
    opacity: 0.6;
  }
  &:active:not(&--active)::before {
    opacity: 0.1;  
  }
}